.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(204, 204, 204, .8);
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  padding: 20px;
  margin: 15px;
  max-width: 540px;
  height: 200px;
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.modal-header {
  line-height: 1.5;
}

.btn_confirm {
  border: 1px solid #ccc;
  background: #37A000;
  color: #fff;
  padding: 10px;
  margin: 15px;
}

.btn_cancel {
  border: 1px solid #ccc;
  color: #37A000;
  background: #fff;
  padding: 10px;
  margin: 15px;
}